<!DOCTYPE html>
<html>
<head>
    <title>MovieWeb App</title>
</head>
<body>
    <h1>MovieWeb App</h1>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/add_user">Add User</a></li>
        </ul>
    </nav>

    <h2>Featured Movies</h2>
    <ul>
        {% for movie in movies %}
            <li><a href="/movies/{{ movie.id }}">{{ movie.movie_poster }}{{ movie.movie_name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>