<!DOCTYPE html>
<html>
<head>
    <title>MovieWeb App</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>MovieWeb App</h1>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/add_user">Add User</a></li>
        </ul>
    </nav>

    <h2>Featured Movies</h2>
    <ul class="movies">
        {% for movie in movies %}
        <li>
            <a href="/movies/{{ movie.id }}">
                <img src="{{ movie.movie_poster }}" alt="Alternative text">
            </a>
            <div class="movie-info">
                <a href="/movies/{{ movie.id }}">{{ movie.movie_name }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>