<!DOCTYPE html>
<html>
<head>
    <title>Update Movie - MovieWeb App</title>
    <link rel="stylesheet" href="/static/add_movie_styles.css">
</head>
<body>

    <h1>MovieWeb App</h1>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/add_user">Add User</a></li>
        </ul>
    </nav>
    <h2>Update Movie</h2>
    <form class="movie-form" method="POST">
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" value="{{ user_movie.user_rating }}">
        <br>
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="watched" {% if user_movie.watchlist_status == 'watched' %}selected{% endif %}>Watched</option>
            <option value="watching" {% if user_movie.watchlist_status == 'watching' %}selected{% endif %}>Watching</option>
            <option value="wishlist" {% if user_movie.watchlist_status == 'wishlist' %}selected{% endif %}>Wishlist</option>
        </select>
        <br>
        <button type="submit">Update Movie</button>
    </form>
</body>
</html>