<!DOCTYPE html>
<html>
<head>
    <title>User Movies - MovieWeb App</title>
    <link rel="stylesheet" href="/static/user_movies_styles.css">
</head>
<body>

    <h1>MovieWeb App</h1>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/add_user">Add User</a></li>
        </ul>
    </nav>

    <h2>List of the user's Movies</h2>
    
 
    <form action="/users/{{ user_movies[0][0].user_id }}/sort" method="POST">
        <div class="filter-container">
            <label for="watch_status">Filter by Watch Status:</label>
            <select name="watch_status" id="watch_status" class="filter-select">
                <option value="">All</option>
                <option value="watched">Watched</option>
                <option value="watching">Watching</option>
                <option value="wishlist">Wishlist</option>
            </select>
            <button type="submit" class="filter-button">Filter</button>
        </div>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flash-messages">
          {% for message in messages %}
            <li class="flash-category">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <ul class="movie-list">
        {% for user_movie, movie_name, movie_poster in user_movies %}
            <li class="movie-item">
                <div class="movie-card">
                    <img src="{{ movie_poster }}" alt="{{ movie_name }}">
                    <div class="movie-details">
                        <h3 class="movie-title">{{ movie_name }}</h3>
                        <p class="movie-rating">User Rating: {{ user_movie.user_rating }}</p>
                        <div class="movie-actions">
                            <button class="edit-button">Edit</button>
                            <button class="delete-button">Delete</button>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>