<!DOCTYPE html>
<html>
<head>
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet" href="static/users_styles.css">
</head>
<body>
    <h1>MovieWeb App</h1>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/add_user">Add User</a></li>
        </ul>
    </nav>
    <h2>Users</h2>
    <div class="users_container">
    <ul class="users">
        {% for user in users %}
            <li><a href="/users/{{ user.id }}"><div class="user-name">{{ user.user_name }}</div></a>
        <div class="user-actions">
            <a href="/users/{{ user.id }}">View Movies</a>
            <a href="/users/{{ user.id }}/add_movie">Add Movie</a>
        </div>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html> 